@import 'tailwindcss';
@plugin "daisyui";

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--color-base-200);
}

#root {
    height: 100%;
}